body{
  font-family: 'Helvetica', serif;
  padding-top: 60px;
}

#footer {
  bottom: 0;
  width: auto;
  left: 10%;
  right: 10%;
  text-align: center;
  margin: 10px;
}

#footer, #footer a, #footer a:visited {
  color: gray;
}

#footer div{
  font-size: 0.9em;
}

#dedeler{
  margin-left: -115px;
}

#twitterSignin{
  padding: 0;
  border: 0;
  margin-top: 8px;
}

#wordCount{
  color: gray;
  margin-right: 20px;
  display: inline;
}

textarea[name="tweet"] {
  /*Well, this is not an optimal solution but close enough (ignoring huge wide screens)*/
  width: 97%
}