{% extends "layout.html" %}
{% block body %}

  {% if g.user %}

    <div class="row-fluid">
      <div class="offset2 span8">
        <div class=well>
          <form action="{{ url_for('tweet') }}"  method=post>
            <fieldset>
              <legend>Hello {{ g.user.name }}! Wanna tweet something?</legend>
              <textarea name=tweet rows=5 required></textarea>
            </fieldset>
            <fieldset class="pull-right">
              <button id="previewBtn" type=button class="btn">Preview</button>
              <button type=submit class="btn btn-primary">Tweet!</button>
            </fieldset>
          </form>
        </div>

        <span id="tweetPreview">
        </span>
      </div>      
    </div>

    {% if tweets %}
    <div class=well>
      <h3>Your Timeline</h3>
      <ul>
      {% for tweet in tweets %}
        <li><a href="http://twitter.com/{{ tweet.user.screen_name}}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% else %}
    <p>
      Sign in to view your public timeline and to tweet unlimited characters.
    <p>
  {% endif %}
  <script type="text/javascript">
  //https://dev.twitter.com/docs/api/1/get/statuses/oembed

  $(function() {
    $('#previewBtn').click(function() {
      $.ajax({
        url: "{{ url_for('preview') }}",
        data: {tweet: $('textarea[name="tweet"]').val()},
        method: 'POST',
        success: function(response){
          var imgTag='<img src="data:image/png;base64,' + response + '">';
          var content = '<div class="well"><legend>Preview</legend>' + imgTag + '</div>'
          $('#tweetPreview').html(content);
        },
        error: function(xhr, status, error) {
          console.error(xhr);
          console.error(status);
          console.error(error);
        }
      });
    });
  });

  var previewUrl = 'https://api.twitter.com/1/statuses/oembed.json?hide_media=false&align=center&maxwidth=500&id=';

  function showPostedTweet(tweetId) {

    if(tweetId && tweetId[0]){
      tweetId = tweetId[0];

      $.ajax({
        url: previewUrl + tweetId.toString(),
        dataType: 'jsonp',
        processData:false,
        success: function(response){
          $('#tweetPreview').html(response.html);
        },
        error: function(xhr, status, error) {
          console.error(xhr);
          console.error(status);
          console.error(error);
        }
      });
    }
    else{
      console.error('Unexpected tweet id: ');
      console.error(tweetId);
    }

  }

  </script>

  {% with tweetId = get_flashed_messages(category_filter=["tweetId"]) %}
  {% if tweetId %}
    <script type="text/javascript">
    
    // oh look, there is a happy little javascript closure here
    (function() {
      // `{{tweetId}}` will be in form of `[123456789]` another words just like a javascript array 
      var tweetId = {{tweetId|safe}};
      console.log(tweetId);
      showPostedTweet(tweetId);
    }());

    </script>
  {% endif %}
  {% endwith %}

{% endblock %}


