{% extends "layout.html" %}
{% block body %}

  {% if g.user %}

    <div class="row-fluid">
      <div class="offset2 span8">
        <div class=well>
          <form action="{{ url_for('tweet') }}"  method=post>
            <fieldset>
              <legend>Hello {{ g.user.name }}! Wanna tweet something?</legend>
              <textarea name=tweet rows=5 required></textarea>
            </fieldset>
            <fieldset class="pull-right">
              <span id="wordCount">0</span>
              <button id="previewBtn" type=button class="btn formBtn">Preview</button>
              <button id="submitBtn" type=submit class="btn btn-primary formBtn">Tweet!</button>
            </fieldset>
          </form>
        </div>

        <span id="tweetPreview">
        </span>
      </div>      
    </div>

    {% if tweets %}
    <div>
      <h3>Your Timeline</h3>
      <ul class="nav nav-tabs nav-stacked">
      {% for tweet in tweets %}
        <li><a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}/">{{ tweet.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% else %}
    <div class=hero-unit>
      <h1>140? No limits because size matters!</h1>
      <p>You don't have to limit yourself to 140 characters! Tweet longer, without redirecting your followers to external links. Your longer tweets are embedded to your tweets as photos!</p>
      <p><a class="btn btn-primary btn-large" href="{{ url_for('login') }}">Sign in with Twitter</a></p>
    </div>
  {% endif %}
  <script type="text/javascript">
  //https://dev.twitter.com/docs/api/1/get/statuses/oembed

  $(function() {
    $('#previewBtn').click(function() {

      if($('textarea[name="tweet"]').get(0).checkValidity() == false){
        return;//TODO notify user?
      }

      var tweet = $('textarea[name="tweet"]').val();

      $.ajax({
        url: "{{ url_for('preview') }}",
        data: {tweet: tweet},
        method: 'POST',
        success: function(response){
          var imgTag='<img src="data:image/png;base64,' + response + '">';
          var content = '<div class="well"><legend>Preview</legend>' + imgTag + '</div>'
          $('#tweetPreview').html(content);
        },
        error: function(xhr, status, error) {
          console.error(xhr);
          console.error(status);
          console.error(error);
        }
      });
    });//end of preview btn click

    $('textarea[name="tweet"]').keyup(countCheck);
    $('textarea[name="tweet"]').keydown(countCheck);

    function countCheck() {
      var count = $(this).val().length;
      $('#wordCount').text(count);

      var color = 'gray';

      $('.formBtn').removeAttr('disabled');
      if(count > 140){
        color = 'blue';
        $('#wordCount').text($('#wordCount').text() + ' :)');
      }

      $('#wordCount').css('color', color);
    }
  });

  var previewUrl = 'https://api.twitter.com/1/statuses/oembed.json?hide_media=false&align=center&maxwidth=500&id=';

  function showPostedTweet(tweetId) {

    if(tweetId && tweetId[0]){
      tweetId = tweetId[0];

      $.ajax({
        url: previewUrl + tweetId.toString(),
        dataType: 'jsonp',
        processData:false,
        success: function(response){
          $('#tweetPreview').html(response.html);
        },
        error: function(xhr, status, error) {
          console.error(xhr);
          console.error(status);
          console.error(error);
        }
      });
    }
    else{
      console.error('Unexpected tweet id: ');
      console.error(tweetId);
    }

  }

  //tweet length
  
    $("#submitBtn").click(function(e){
      var tweetLength = $('textarea[name="tweet"]').val().length
      if(typeof ga !== "undefined" && tweetLength > 0){
        var a = ga('send', 'event', 'tweet-button', 'click', {
          'metric1': tweetLength
        });
        console.log("the value "+tweetLength+" will be reported");
      }
    });
  

  </script>

  {% with tweetId = get_flashed_messages(category_filter=["tweetId"]) %}
  {% if tweetId %}
    <script type="text/javascript">
    
    // oh look, there is a happy little javascript closure here
    (function() {
      // `{{tweetId}}` will be in form of `[123456789]` another words just like a javascript array 
      var tweetId = {{tweetId|safe}};
      console.log(tweetId);
      showPostedTweet(tweetId);
    }());

    </script>
  {% endif %}
  {% endwith %}

{% endblock %}


