<!doctype html>
<title>Tweet More because size matters</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<script type=text/javascript src="{{url_for('static', filename='js/jquery-2.0.2.min.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Tweet More</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Freedom</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <form class="navbar-form pull-right">
          {% if g.user %}
          <li><a class="btn" href="{{ url_for('logout') }}">sign out [{{ g.user.name }}]</a>
          {% else %}
          <!-- <li><a class="btn" href="{{ url_for('login') }}">sign in</a> -->
          <a id="twitterSignin" class="btn" href="{{ url_for('login') }}"><img src="{{url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
          {% endif %}
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="offset2 span8">

  {% for message in get_flashed_messages(category_filter=["notification"]) %}
    <div class="alert alert-info">
      <p class=message>{{ message }}
      </p>
    </div>
  {% endfor %}

  {% block body %}{% endblock %}
  
  </div>
</div>

<div id="footer">
  <hr>
  <div class="pull-left">
    <img id="gnu" class="float-left" width="32" src="{{ url_for('static', filename='img/gnu.png') }}">
    <div class="float-right"> This is a Free Software</div>
    <div class="pull-left"><a target="_blank" href="https://github.com/dedeler/tweet-more"> View source &amp; license</a></div>
  </div>
  <a id="dedeler" target="_blank" href="http://www.github.com/dedeler">© Dedeler 2013</a>
</div>